h1,
p {
  font-family: Lato;
}

* {
  box-sizing: border-box;
}
.avail{
   background-color: rgb(138, 73, 73);
   background-size: cover;
   height: 100%;
}
.search-container {
  border: 10px solid;
  border-color: rgb(33, 187, 136);
  border-radius: 10px;
  background-image: url("india.jpg");
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  flex-direction: column;
  margin: 0px 100px;
}
.search-container .form-group {
  width: 150px;
}
.search-container input {
  width: 100%;
  padding: 5px;
}
.search-container button {
  margin-top: 20px;
  border: none;
  width: 120px;
  padding: 10px;
  background-color: green;
  color: whitesmoke;
}

.search-container button:hover {
  background-color: burlywood;
  color: black;
  cursor: pointer;
}

.was-validated input:invalid {
  background-color: lightpink;
  border: solid red;
}

.error-alert {
  margin: 0;
  width: 100%;
  padding: 20px;
  background-color: lightpink;
  border: solid coral;
}
.avail h4{
     margin: 20px 470px;
}
.buses-avail-container .bus-avail {
  display: flex;
  flex-direction: column;
  background: wheat;
  width: 500px;
  padding: 0 10px;
  margin:40px 500px;
  border-radius: 6px;
}

.buses-avail-container .bus-avail:nth-child(odd) {
  background-color: antiquewhite;
}


.d-flex {
  display: flex;
  justify-content: space-between;
}
.name {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.seat {
  visibility: hidden;
  border: 10px solid;
  
}

.seat + label {
  background-color: lightcyan;
  border: 2px solid;
  border-color: black;
  border-radius: 10px;
  width: 200px;
  height: 120px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.seat:checked + label {
  background-color: green;

  
}
.seat:disabled + label {
  background-color: lightsalmon;
  cursor: not-allowed;
}
.sele{
  background-image: url("india.jpg");
  text-align: center;
}

.passinfo {
  padding: 20px;
  text-align: center;
  background-image: url("bbb.avif");
  height: 82.25%;
  background-size: cover;
}

.passbox {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: left;
  background-color: #ccc;
}
.eee{
  background-size: cover;
  height: 82.25%;
}
.www{
  background-size: cover;
  height: 82.25%;
}
@media screen and (max-width: 600px) {
  .passbox {
    margin: 5px;
    padding: 5px;
  }
}
.seat-container {
  display: flex;
  width: 100px;
  padding: 10px 620px;
  flex-wrap: wrap;
}
.proceed {
  text-align: center;
  color: black;
  margin: 20px 550px;
  width: 100px;
}
.handle{
   padding: 20px 675px;
}
.bac{
  width: 100px;
  background-color: black;
}
.wwww{
  background-size: cover;
  height: 120%;
}
.terms-containerr{
  text-align: center;
  border: 2px solid black;
  border-radius: 2px;
  width:50%;
}